:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.container {
  padding: 16px;
}

.button {
  text-align: right;
  margin-top: 16px;
}

.button > button {
  background-color: rgba(182, 208, 187, 0.5);
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid black;
}

.button > button:hover {
  background-color: rgba(182, 208, 187);
}

.row {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  /* flex-direction: row; */
}

.row > input {
  width: 50%;
  border-radius: 4px;
  background-color: white;
  border: 1px solid black;
}
